{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}-Home
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<body>


		<!-- banner part start-->

		<!-- about us part start-->
			<section class="about_us padding_top"> <div class="container">
				<div class="row justify-content-between align-items-center">

					<div class="about_us_img">
						<img style="padding-bottom: 70px;" width="550px" height="400px" src="{{ asset('assets/img/new/img_prev_ui.png')}}" alt="">
					</div>

					<div class="col-md-6 col-lg-5">
						<div class="about_us_text">
							<h2>A propos de nous
							</h2>
							<p>Echkili est une plateforme dédiée aux personnes souffrant de troubles  de santé mentale .
																Ce site est une vitrine digitale qui va vous permettre d'interagir avec les médecins à travers des forums de discussion.
																Ainsi , il offre un service d'actualités aux internautes pour avoir la bonne information, au bon moment, près de chez soi.</p>

							<div class="banner_item">
								<div class="single_item">
									<img src="{{ asset('assets/img/new/R.png')}}" alt="">
									<h5>Forums</h5>
								</div>
								<div class="single_item">
									<img width="75px" height="45px" src="{{ asset('assets/img/new/RL.png')}}" alt="">
									<h5>Rendez-vous</h5>
								</div>
								<div class="single_item">
									<img src="{{ asset('assets/img/new/RE.png')}}" alt="">
									<h5>Evenements</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- about us part end-->

		<!-- feature_part start-->
		<section class="feature_part">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-8">
						<div class="section_tittle text-center">
							<h2>Nos services</h2>
						</div>
					</div>
				</div>
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-3 col-sm-12">
						<div class="single_feature">
							<div class="single_feature_part">
								<span class="single_feature_icon"><img src="{{ asset('assets/img/new/R.png')}}" alt=""></span>
								<h4>Forum d'interaction médecin/patient</h4>
								<br>
							</br>
							<p>Notre plateforme vous offre le service d'interaction entre nos médecins.
							</p>
						</div>
					</div>
					<div class="single_feature">
						<div class="single_feature_part">
							<span class="single_feature_icon"><img src="{{ asset('assets/img/new/RL.png')}}" alt=""></span>
							<h4>Réserver un Rendez-vous</h4>
							<br>
						</br>
						<p>Notre plateforme vous offre le service de réservation de rendez-vous.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12">
				<div class="single_feature_img">
					<img src="{{ asset('assets/img/new/M-modified.png')}}" alt="">
				</div>
			</div>
			<div class="col-lg-3 col-sm-12">
				<div class="single_feature">
					<div class="single_feature_part">
						<span class="single_feature_icon"><img src="{{ asset('assets/img/new/RE.png')}}" alt=""></span>
						<h4>
							Evenements</h4>
						<br>
					</br>
					<p>Notre plateforme vous offre des événements .</p>

				</div>
			</div>
			<div class="single_feature">
				<div class="single_feature_part">
					<span class="single_feature_icon"><img src="{{ asset('assets/img/new/L.png')}}" alt=""></span>
					<h4>
						Produits</h4>
					<br>
				</br>
				<p>Notre plateforme vous offre des produits .</p>
			</div>
		</div>
	</body>
</div></div></div></section><!-- feature_part start--><!-- our depertment part start--><section class="our_depertment section_padding"><div class="container"><div class="row justify-content-center text-center">
<div class="col-xl-12">
	<div class="depertment_content">
		<div class="row justify-content-center">
			<div class="col-xl-8">
				<h2>Actualités</h2>
				<div class="row">
					<div class="col-lg-6 col-sm-6">
						<div class="single_our_depertment">
							<span class="our_depertment_icon"><img src="{{ asset('assets/img/icon/feature_2.svg')}}" alt=""></span>
							<h4>Better Future</h4>
							<p>Darkness multiply rule Which from without life creature blessed
																                                                give moveth moveth seas make day which divided our have.</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="single_our_depertment">
							<span class="our_depertment_icon"><img src="{{ asset('assets/img/icon/feature_2.svg')}}" alt=""></span>
							<h4>Better Future</h4>
							<p>Darkness multiply rule Which from without life creature blessed
																                                                give moveth moveth seas make day which divided our have.</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="single_our_depertment">
							<span class="our_depertment_icon"><img src="{{ asset('assets/img/icon/feature_2.svg')}}" alt=""></span>
							<h4>Better Future</h4>
							<p>Darkness multiply rule Which from without life creature blessed
																                                                give moveth moveth seas make day which divided our have.</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="single_our_depertment">
							<span class="our_depertment_icon"><img src="{{ asset('assets/img/icon/feature_2.svg')}}" alt=""></span>
							<h4>Better Future</h4>
							<p>Darkness multiply rule Which from without life creature blessed
																                                                give moveth moveth seas make day which divided our have.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div></div></div></section><!-- Actualités part end--><!--::blog_part start::--><section class="blog_part section_padding"><div class="container"><div class="row justify-content-center">
<div class="col-xl-8">
	<div class="section_tittle text-center">
		<h2>Nos Evénements
		</h2>
	</div>
</div></div><div class="row">
<div class="col-sm-6">
	<div class="single-home-blog">
		<div class="card">
			<img src="{{ asset('assets/img/blog/blog_2.png')}}" class="card-img-top" alt="blog">
			<div class="card-body">
				<a href="blog.html">
					<h5 class="card-title">First cattle which earth unto let health for
												                                        can get and see what you
					</h5>
				</a>
				<ul>
					<li>
						<span class="ti-user"></span>Jhon mike</li>
					<li>
						<span class="ti-bookmark"></span>Clinic, doctors</li>
				</ul>

			</div>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<div class="single-home-blog">
		<div class="card">
			<img src="{{ asset('assets/img/blog/blog_3.png')}}" class="card-img-top" alt="blog">
			<div class="card-body">
				<a href="blog.html">
					<h5 class="card-title">First cattle which earth unto let health for
												                                        can get and see what you
					</h5>
				</a>
				<ul>
					<li>
						<span class="ti-user"></span>Jhon mike</li>
					<li>
						<span class="ti-bookmark"></span>Clinic, doctors</li>
				</ul>
			</div>
		</div>
	</div>
</div></div></div></section><!--::blog_part end::--></body>{% endblock %}{% block javascripts %}{{ parent() }}{% endblock %}
