
<h1>Liste des questions/Réponses </h1>
<table border="1">
<tr>
<th>Id</th>
<th>Question</th>
<th>Modification</th>
<th>Suppresion</th>
<th>Reponse</th>


</tr>

<tr>
{% for i in forum %}
<tr>
<td>
 {{i.id}}
</td>
<td>
 {{i.question}}
</td>

<td><a href="{{ path('updateQuestion',{'id':i.id}) }}">Modifier question</a></td>
<td><a href="{{path('suppQuestion',{'id':i.id }) }}">Supprimer question</a></td>
<td>

{% for r in i.reponses %}
<a  href="{{path('updateReponse',{'id':r.id }) }}" >{{ r.Reponse }}</a>
<a href="{{path('suppReponse',{'id':r.id }) }}">Supprimer reponse</a>

{% endfor %}
</td>
{% endfor %}
</tr>
</table>
<td><a href="{{path('addQ') }}">Ajouter question</a></td>
<td><a href="{{path('addR') }}"> Ajouter reponse </a></td>
