{% extends "dashboard.html.twig" %}
{% block body %}
	<div class="container-fluid" id="container-wrapper">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Liste des réservations</h1>
			<h2 class="h3 mb-0 text-gray-800"><a href="{{path('addR') }}" >
				<span class="badge badge-success">
					Cliquez pour ajouter un réservation </span>
			</a></h2>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="./">Home</a>
				</li>
				<li class="breadcrumb-item">Reservations</li>
				<li class="breadcrumb-item active" aria-current="page">Liste des réservtions</li>
			</ol>
		</div>
	
			
		<div class="row">
			<div
				class="col-lg-12 mb-4">
				
				<!-- Simple Tables -->
				<div class="card">

					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th>ID de la réservation</th>
									
                                    <th>Date Reservation </th>
                                    
                                    
									<th>Modifier Reservation</th>
									<th>Supprimer Reservation</th>
                                   
								</tr>
							</thead>
							<tbody>
								{% for i in reservation %}

									<tr>

										<td>{{i.id}}</td>
										
                                        
                                        <td>{{i.nombredeplaceareserver}}</td>
										
										<td>
                                            <a  href="{{ path('updateReservation',{'id':i.id}) }}" >
												
											
											<span class="badge badge-success">
                                                Cliquez pour mettre à jour</span>
                                        </a>
										</td>
										<td>
											<a href="{{path('suppReservation',{'id':i.id }) }}" class="btn btn-danger ">
												<i class="fas fa-trash"></i>
											</a>
										</td>
                                        
                                        
									</tr>
								{% endfor %}


							</tbody>
						</table>
						
					</div>
					
					
					<div class="card-footer"></div>
				</div>
			</div>
		</div><!--Row--><!-- Modal Logout --><div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to logout?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
						<a href="login.html" class="btn btn-primary">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}