{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<div class="form-group">
    {{ form_row(form.nom) }}
    </div>
    <div class="form-group">
    {{ form_row(form.prenom) }}</div>
    <div class="form-group">
    {{ form_row(form.cause ) }}    </div>
     <div class="form-group">
    {{ form_row(form.telephone ) }}    </div>

      <div class="form-group">
    {{ form_row(form.description ) }}    </div>

       <div class="form-group">
    {{ form_row(form.dateRV ) }}    </div>

        <div class="form-group">
    {{ form_row(form.medecin ) }}
    
    
        </div>
           <div class="form-group">
    {{ form_row(form.cabinet ) }}
    
    
        </div>

    <table>

<th>
<div class="row">
<div class="col-md 4">
    <button class="btn_1 d-none d-lg-block" >{{ button_label|default('Save') }}</button>
</div>

<div class="col-md 4">
<a class="btn_1 d-none d-lg-block" href="{{ path('app_rendez_vous_index') }}"> list</a>
</div>


    </div>

     </th>
         </table>
{{ form_end(form) }}
