{% extends 'dashboard.html.twig' %}

{% block title %}{{ parent() }}-Medecins {% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}	
{% block body %}


        <div class="col-xl-12 col-lg-7 ">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Liste des médecins </h6>
            
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Adresse</th>
                        <th>Status</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                        <th>Action</th>

                      </tr>
                    </thead>
                    <tbody>
                    {% for medecin in medecins %}
                      <tr>
                        
                        <td>{{ medecin.id}}</td>
                        <td>{{ medecin.FirstName}}</td>
                        <td>{{ medecin.LastName}}</td>
                        <td>{{ medecin.adresse}}</td>
                        <td>
                        {% if medecin.status =='0' %}
                        <span class="badge badge-danger">En cours</span>
                        {% endif %}
                          {% if medecin.status =='1' %}
                        <span class="badge badge-success">Accepté</span>
                        </td>
                        {% endif %}
                        <td>
                         <a href="{{ path ('editmedecin', {'id':medecin.id}) }}" class="btn btn-info">
                    <i class="fas fa-info-circle"></i>
                  </a>
                  </td>
                   <td>
                        <a href="{{ path ('deletemedecin', {'id':medecin.id}) }}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                  </a>
                  </td>
                  <td>
                    <a href="{{ path ('gestionmedecin', {'id':medecin.id}) }}" class="btn btn-warning">
                    <i class="fas fa-exclamation-triangle"></i>
                  </a>
                  </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
 {% endblock %}
			{% block javascripts %}
				{{ parent() }}
			{% endblock %}