{# <h1>Liste des Produits</h1>
<table border="1">
	<tr>
		<th>Id</th>
		<th>Nom</th>
		<th>Category</th>
		<th>Description</th>
		<th>Prix</th>
	</tr>
	{% for product in products %}
		<tr>
			<td>
				{{product.id}}
			</td>
			<td>
				{{product.name}}
			</td>

			<td>
				{{product.category.name}}
			</td>
			<td>
				{{product.description}}
			</td>
			<td>
				{{product.price}}
			</td>
			<td>
				<a href=" {{path('updateProduct' , {'id': product.id} ) }} ">Update</a>
			</td>
			<td>
				<a href=" {{path('deleteProduct' , {'id': product.id} ) }} ">Delete</a>
			</td>
		</tr>
	{% endfor %}
</table></tr> #}

{% extends "dashboard.html.twig" %}
{% block body %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Liste des produits</h1>
	</div>
	<div class="col-lg-12">
		<div
			class="card mb-4">
			{# <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
																																											<h6 class="m-0 font-weight-bold text-primary">DataTables with Hover</h6>
																																										</div> #}
			<div class="table-responsive p-3">
				<table class="table align-items-center table-flush table-hover" id="dataTableHover">
					<thead class="thead-light">
						<tr>
							<th>Id</th>
							<th>Nom</th>
							<th>Description</th>
							<th>Prix</th>
							<th>Quantite</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{product.id}}</td>
								<td>{{product.name}}</td>
								<td>{{product.description}}</td>
								<td>{{product.price}}</td>
								<td>{{product.quantity}}</td>
								<td>
									<button type="submit" class="btn btn-primary mb-1" onclick="window.location.href='{{ path('updateProduct', { id: product.id }) }}'">
										Modifier
									</button>
								</td>
								<th>
									<a href=" {{path('deleteProduct' , {'id': product.id} ) }} " class="btn btn-danger ">
										<i class="fas fa-trash"></i>
									</a>
								</th>
							</tr>
						{% endfor %}
					</tbody>
					{# <tfoot>
																																																																																																															<tr>
																																																																																																																<th>Name</th>
																																																																																																																<th>Position</th>
																																																																																																																<th>Office</th>
																																																																																																																<th>Age</th>
																																																																																																																<th>Start date</th>
																																																																																																																<th>Salary</th>
																																																																																																															</tr>
																																																																																																														</tfoot> #}
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
