{% extends "base.html.twig" %}
{% block title %}Produits
{% endblock %}

{% block body %}

	<section class="doctor_part single_page_doctor_part">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-8">
					<div class="section_tittle text-center">
						<h2>
							Nos Produits</h2>

					</div>
				</div>
			</div>
			<div class="row">
				{% for product in products %}
					<div class="col-sm-6 col-lg-3">
						<div class="single_blog_item">
							<div class="single_blog_img">
								<div>
									<img src="{{ asset('uploads/products/' ~ product.image) }}" alt="doctor" style="width:250px;height:250px;">
								</div>
								<div class="single_text">
									<div class="single_blog_text">
										<h3 style="font-size:0.95rem;text-align:center;height:3em;overflow:hidden;" class="two-lines">{{ product.name }}</h3>
										<h5 style="text-align:center;">({{product.category.name}})</h5>
										<h5 style="text-align:center;">({{product.quantity}})</h5>
										<h3 style="text-align:center;">{{product.price}}DT</h3>
									</div>
								</div>
								<div style="margin-left:auto;margin-right:auto;text-align:center; margin-top:1em;width:80%;">

									<a href="#" id="add-to-cart-{{ product.id }}" class="btn_2 d-none d-lg-block" style="font-size:0.75rem;">Ajouter au panier</a>

								</div>
							</div>

						</div>

					</div>
				{% endfor %}
			</div>
		</section>
	{% endblock %}
	{% block javascripts %}
		{{parent()}}
		<script>
			$(document).ready(function () {
$('a[id^="add-to-cart-"]').click(function (e) {
e.preventDefault();

var productId = $(this).attr('id').replace('add-to-cart-', '');

$.ajax({
url: '{{ path("addToCart", {"productId": "__productId__"})|raw }}'.replace('__productId__', productId),
method: 'POST',
success: function (data) { // Display success message
alert('Le produit a été ajouté au panier!');
},
error: function (xhr, textStatus, errorThrown) { // Display error message
alert('Une erreur est survenue lors de l\'ajout au panier.');
}
});
});
});
		</script>
	{% endblock %}
