{% extends "base.html.twig" %}
{% block title %}Panier
{% endblock %}


{% block body %}
	<div class="section-top-border container" style="margin-top:100px;">
		<h3 class="mb-30" style="text-align:center;">Panier</h3>
		<div class="progress-table-wrap">
			<div class="progress-table">
				<div class="table-head">
					<div class="serial" style="text-align:center;">Nom</div>
					<div class="visit" style="text-align:center;">Image</div>
					<div class="visit" style="text-align:center;">Prix unitaire</div>
					<div class="visit" style="text-align:center;">quantite</div>
					<div class="visit" style="text-align:center;">Prix totale</div>

					<div class="visit" style="text-align:center;">Supprimer</div>
				</div>
				{% for item in cartItems %}
					<div class="table-row" style="display: flex;justify-content: center;align-items: center;">
						<div class="serial">{{item.product.name}}</div>
						<div class="visit">
							<img style="width:100px;height:100px;" src="{{ asset('uploads/products/' ~ item.product.image) }}" alt="country"></div>
						<div class="visit">{{item.product.price}}</div>
						<div class="visit">x{{item.quantity}}</div>
						{% set totalPrice = item.product.price * item.quantity %}
						<div class="visit">{{totalPrice}}</div>
						<div class="visit">
							<a href="#" class="genric-btn danger circle arrow remove-product" data-id="{{ item.id }}">Supprimer<span class="lnr lnr-arrow-right"></span>
							</a>
						</div>
					</div>
				{% endfor %}


			</div>
		</div>
		<div class="d-sm-flex align-items-center">
			<button style="width:30%;margin:10px auto;" class="genric-btn primary circle" id="checkout-button">Passer la commande</button>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		// Create an instance of the Stripe object with your publishable API key
var stripe = Stripe("pk_test_51MhGaAGeGEgrQ6hOEnXatmbTvZcPd3ll7Z5G4IsG18jdvInJbqQPR24LgWUZcnKp7NLZZh2K8LX0RYnRIGwi33IS00NUy6pYHg");

// Get a reference to the checkout button and add a click event listener
var checkoutButton = document.getElementById("checkout-button");
checkoutButton.addEventListener("click", function () { // Make a POST request to create a new checkout session
fetch("/commande/createSession", {method: "POST"}).then(function (response) {
return response.json();
}).then(function (session) { // Redirect the customer to the checkout page
return stripe.redirectToCheckout({sessionId: session.id});
}).then(function (result) { // Handle any errors that occur during the checkout process
if (result.error) {
alert(result.error.message);
}
}).catch(function (error) {
console.error("ERROR", error);
});
});
	</script>
	{# add to cart script #}
	<script>
		$(document).on('click', '.remove-product', function (event) {
event.preventDefault();

var productId = $(this).data('id');
var $tableRow = $(this).closest('.table-row');

$.ajax({
url: "{{ path('removeItem', {'id': '__ID__'}) }}".replace('__ID__', productId),
type: 'DELETE',
dataType: 'json',
success: function (data) {
if (data.success) { // Remove table row from the page
$tableRow.remove();
} else { // Display error modal
alert(data.message);
}
},
error: function (jqXHR, textStatus, errorThrown) { // Display error modal
alert('Une erreur est survenue. Veuillez réessayer plus tard.');
}
});
});
	</script>

{% endblock %}
