{% extends 'base.html.twig' %}
{% form_theme f 'bootstrap_4_layout.html.twig' %}
{% block body %}
	<section class="breadcrumb_part breadcrumb_bg">


		<div class="col-lg-12">
			<div class="breadcrumb_iner">
				<div class="breadcrumb_iner_item">
					<h2>Question?</h2>
				</div>
			</div>
		</div>


	</section>
	<div class="col-lg-10 mx-auto">
		<div id="google_translate_element"></div>
		<script type="text/javascript">
			function googleTranslateElementInit() {
new google.translate.TranslateElement({
pageLanguage: 'en'
}, 'google_translate_element');
}
		</script>

		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<div class="card mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Ajouter Question</h6>
			</div>
			<div class="card-body">
				{{ form_start(f, {'attr': {'novalidate': 'novalidate'}}) }}
				<div class="form-group">
					{{form_label(f.Id_user,"ID utilisateur " )}}
					{{form_widget(f.Id_user,{'attr': {'class': 'form-control', 'placeholder': ' Id_user', 'id': 'exampleFormControlTextarea1', }}) }}
					{{form_errors(f.Id_user)}}
				</div>
				<div class="form-group">
					{{form_label(f.Reponse,"Reponse " )}}
					{{form_widget(f.Reponse,{'attr': {'class': 'form-control', 'placeholder': ' Reponse', 'id': 'exampleFormControlTextarea1', }}) }}
					{{form_errors(f.Reponse)}}
				</div>
				<div class="form-group">
					{{form_label(f.Date,"Date " )}}
					{{form_widget(f.Date,{'attr': {'class': 'form-control', 'placeholder': 'Date', 'id': 'exampleFormControlTextarea1', }}) }}
					{{form_errors(f.Date)}}
				</div>
				<div class="form-group">
					{{form_label(f.commentaires,"commentaires " )}}
					{{form_widget(f.commentaires,{'attr': {'class': 'form-control', 'placeholder': ' commentaires', 'id': 'exampleFormControlTextarea1', }}) }}
					{{form_errors(f.commentaires)}}
				</div>


				{{ form_widget(f.save, { 'attr': {'class': 'btn btn-primary'} }) }}

			</div>

			{{ form_end(f) }}
		{% endblock %}
