<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>rendezvous</title>
		<style>
			/* Styles pour l'en-tête */
			.header {
				position: relative;
				background-color: #E4F4F6;
				color: #2246AF;
				padding: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.logo-wrapper {
				display: flex;
				align-items: center;
			}

			.circle-wrapper {
				position: relative;
				margin-right: 10px;
			}

			.logo-text {
				margin: 0;
				font-family: 'Arial';
				font-size: 32px;
				font-weight: bold;
				text-transform: uppercase;
				text-shadow: 2px 2px 2px #ccc;
			}

			.circle {
				position: absolute;
				top: 0;
				right: 0;
				transform: translate(50%, -50%);
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: #2246AF;
				color: #E4F4F6;
				text-align: center;
				line-height: 50px;
				font-size: 24px;
				font-weight: bold;
			}

			/* Styles pour le tableau */
			.table-wrapper {
				border: 2px solid black;
				width: 90%;
				margin: 20px auto;
				overflow-x: auto;
			}

			table {
				border-collapse: collapse;
				width: 100%;
			}

			th,
			td {
				border: 1px solid black;
				padding: 8px;
				text-align: center;
			}

			th {
				background-color: #309887;
				color: #fff;
				text-transform: uppercase;
			}

			tbody tr:nth-child(even) {
				background-color: #E8F5E9;
			}

			tbody tr:nth-child(odd) {
				background-color: #E1F5FE;
			}
		</style>
	</head>
	{% block header %}
		<img src="{{ asset('/PIDEV/public/assets/img/eshkili.png') }}" alt="image.jpg">

		<div style="text-align: center; margin-bottom: 20px;">
			<h1>BIENVENU CHEZ ESHKILI</h1>
		</div>
	{% endblock %}

	{% block content %}
		<table class="table table-bordered table-striped">
			<tbody>
				<h3>Voici les informations de votre rendez-vous :
				</h3>

				<tr>
					<th>Votre Nom</th>
					<td>{{ rendez_vou.nom }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ rendez_vou.prenom }}</td>
				</tr>
				<tr>
					<th>Cause</th>
					<td>{{ rendez_vou.cause }}</td>
				</tr>

				{# <tr>
									<th>numéro de télephone</th>
									<td>{{ rendez_vou.telephone }}</td>
								</tr> #}
				<tr>
					<th>Date de rendez-vous</th>
					<td>{{ rendez_vou.dateRV ? rendez_vou.dateRV|date('Y-m-d') : '' }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ rendez_vou.description }}</td>
				</tr>
				<tr>
					<th>medecin</th>
					<td>{{ rendez_vou.medecin.nom }}</td>
				</tr>
				<tr>
					<th>cabinet</th>
					<td>{{ rendez_vou.cabinet.nom }}</td>
				</tr>
			</tbody>
		</table>
		<h5>Toutes nos pensées vous accompagnent dans ce moment difficile,</h5>
		<h5>bon rétablissement, bien amicalement.
		</h5>
		<footer>
			<p>Tous droits réservés &copy; 2023 Echkili</p>
		</footer>
	{% endblock %}
	{#
		<!DOCTYPE html>
		<html lang="fr">
		<head>
		    <meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <title>Liste des mmods</title>
		    <style>
		        /* Styles pour l'en-tête */
		        .header {
		            position: relative;
		            background-color: #E4F4F6;
		            color: #2246AF;
		            padding: 10px;
		            display: flex;
		            justify-content: space-between;
		            align-items: center;
		        }
		        
		        .logo-wrapper {
		            display: flex;
		            align-items: center;
		        }
		
		        .circle-wrapper {
		            position: relative;
		            margin-right: 10px;
		        }
		        
		        .logo-text {
		            margin: 0;
		            font-family: 'Arial';
		            font-size: 32px;
		            font-weight: bold;
		            text-transform: uppercase;
		            text-shadow: 2px 2px 2px #ccc;
		        }
		        
		        .circle {
		            position: absolute;
		            top: 0;
		            right: 0;
		            transform: translate(50%, -50%);
		            width: 50px;
		            height: 50px;
		            border-radius: 50%;
		            background-color: #2246AF;
		            color: #E4F4F6;
		            text-align: center;
		            line-height: 50px;
		            font-size: 24px;
		            font-weight: bold;
		        }
		        
		        /* Styles pour le tableau */
		        .table-wrapper {
		            border: 2px solid black;
		            width: 90%;
		            margin: 20px auto;
		            overflow-x: auto;
		        }
		        
		        table {
		            border-collapse: collapse;
		            width: 100%;
		        }
		        
		        th, td {
		            border: 1px solid black;
		            padding: 8px;
		            text-align: center;
		        }
		        
		        th {
		            background-color: #309887;
		            color: #fff;
		            text-transform: uppercase;
		        }
		        
		        tbody tr:nth-child(even) {
		            background-color: #E8F5E9;
		        }
		        
		        tbody tr:nth-child(odd) {
		            background-color: #E1F5FE;
		        }
		    </style>
		</head>
		<body>
		 
		    <div class="header">
		        <div class="logo-wrapper">
		            <div class="circle-wrapper">
		                <div class="circle">MRS</div>
		            </div>
		            <p class="logo-text">Echkili:</p>
		        </div>
		        <nav>
		            <ul>
		                <li><a href="#" class="link-color" style="color: #300E2D;">MOOD:</a></li>
		            </ul>
		            <div class="table-wrapper">
		        <table>
		            <thead>
		                <tr>
		                    <th>IdMood</th>
		                    <th>IdUser</th>
		                    <th>Votre mood</th>
		                    <th>Description</th>
		                    <th>Date de l'enregistrement</th>
		                </tr>
		            </thead>
		            <tbody>
		                   {% for i in rendez_vou %}
		                   <tr>
		                    <td>{{ rendez_vou.nom }}</td>
		      <td>{{ rendez_vou.nom }}</td>
		      <td>{{ rendez_vou.prenom }}</td>
		      <td>{{ rendez_vou.cause }}</td>
		      <td>{{ rendez_vou.dateRV ? rendez_vou.dateRV|date('Y-m-d') : '' }}</td>
		      <td>{{ rendez_vou.description }}</td>
		
		
		        </tr>
		
		        {% endfor %}
		            </tbody>
		        </table>
		    </div>
		        </nav>
		    </div>
		
		    
		        </nav>
		    </div>
		
		  
		    
		    <footer>
		        <p>Tous droits réservés &copy; 2023 Echkili</p>
		    </footer>
		</body>
		</html>
		
		#}
</html>
