{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
<section class="breadcrumb_part breadcrumb_bg">
        
          
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Liste des moods</h2>
                        </div>
                    </div>
                </div>
            
        
    </section>
<div class="page-container">
    <!-- Content Wrapper START -->
    <div class="main-content">
      <div class="card">
          <div class="card-body">
              <h4>Listes des Moods</h4>
              <div class="m-t-25">
                <table class="data-table table">
                    <thead>
                        <tr>
                        <th>IdMood</th>
                            <th>IdUser</th>
                            <th>Votre mood</th>
                            <th>Description</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for mood in m %}
                        <tr>
                        <td>{{mood.MoodId}}</td>
                            <td>{{mood.UserId}}</td>
                            <td>{{mood.Mood}}</td>
                            <td>{{mood.Description}}</td>
                           
                            
												
                        <td>
        
         <button class="btn btn-primary">
         <a href="{{ path('editmood',{'id':mood.id}) }}"style="color: white;">Update</a>
          </button>
        
      </td>
       <td><button class="btn btn-primary">
        <a href="{{path('deletemood',{'id' :mood.id }) }}"style="color: white;">Delete</a>
        </button> </td>
											
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
          </div>
      </div>
    </div>

{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
